In [1]:
1 + 1

2

In [2]:
2 + 2

4

In [3]:
50

50

In [4]:
def add(n):
    return n + 1
add(1)

2

In [5]:
import pandas as pd

In [6]:
PYTHON DO MAGIC\

SyntaxError: invalid syntax (<ipython-input-6-41d6f5634503>, line 1)

In [7]:
BIG DATA IS TOO BIG

SyntaxError: invalid syntax (<ipython-input-7-297b82b7d165>, line 1)

In [8]:
"BIG DATA IS TOO BIG" = BIG

SyntaxError: can't assign to literal (<ipython-input-8-55e2f07b8aff>, line 1)

In [9]:
BIG = "BIG DATA IS TOO"

In [10]:
BIG.append("BIG")

AttributeError: 'str' object has no attribute 'append'

In [11]:
1 + 1

2

In [1]:
karma = pd.read_csv('../Downloads/KarmaCRM.csv')

NameError: name 'pd' is not defined

In [2]:
import pandas as pd
karma = pd.read_csv('../Downloads/KarmaCRM.csv')

In [3]:
karma

,First name,Last name,Type,Name,Email,User ID,First Seen (MDT),Signed up (MDT),Last seen (MDT),Last contacted (MDT),...,cases,companies,contacts,custom_fields,deals,events,industry,integrations.1,subscribed_at (MDT),tasks
0,Andrew,Eakins,False,Andrew and Wendy Eakins,vic271@shaw.ca,NaN,2015-04-23 08:17:50,NaN,NaN,2015-04-23 11:04:21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Kenny,Beh,False,Kenny Beh,kennybeh@pedoman.com.my,NaN,2015-03-28 17:17:15,NaN,NaN,2015-04-29 12:42:01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Alinser,Hoyos,False,Alinser Hoyos,ahoyos@signifi.com,NaN,2015-02-11 10:42:04,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Manuel,Asian,False,Manuel Asian,asiancustom@gmail.com,NaN,2015-02-10 02:29:23,NaN,NaN,2015-02-16 07:54:53,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Mike,Orley,False,Mike Orley,morley@prosatwork.com,NaN,2015-04-22 08:06:44,NaN,NaN,2015-04-22 09:10:24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,False,NaN,ck@alliedpowers.co.uk,NaN,2015-04-20 07:02:28,NaN,NaN,2015-04-23 07:14:50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Glen,Furlong,False,Glen Furlong,glenfurlong3@gmail.com,NaN,2015-02-13 15:10:26,NaN,NaN,2015-02-13 15:16:22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,False,NaN,eyal@karmacrm.com,NaN,2015-02-16 09:21:12,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,False,NaN,support+bncbdw7hq7eseirb5povktqkgqebkfoh4i@kar...,NaN,2015-02-25 08:01:25,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,False,NaN,team@karmacrm.com,NaN,2015-02-25 10:00:58,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Tina,McCord,False,Tina Harrison & Kathleen McCord,admin@fromoverhere.co.uk,NaN,2015-03-02 12:29:17,NaN,NaN,2015-03-02 12:48:19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Janice,Salim,False,Janice Salim,janice@thinkemployment.com.au,NaN,2015-03-31 20:34:07,NaN,NaN,2015-03-31 20:44:07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,False,NaN,cindy@ourcordbank.com,NaN,2015-02-11 10:40:53,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,brocantehome,NaN,False,brocantehome,clickdesk@contactuswidget.appspotmail.com,NaN,2015-02-11 10:40:53,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,info@schooldesk.net,NaN,False,info@schooldesk.net,donna@schooldesk.net,NaN,2015-02-11 10:55:49,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,False,NaN,dorms@bashan.org.il,NaN,2015-02-11 10:41:03,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Eric,Doub,False,Eric L Doub,ericdoub.efiddling@futurefitsolutions.com,NaN,2015-02-11 18:42:36,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,ron@easyopticare.nl,NaN,False,ron@easyopticare.nl,ron@easyopticare.nl,NaN,2015-04-20 07:15:35,NaN,NaN,2015-04-20 09:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,False,NaN,ggonzalez@gape.com.mx,NaN,2015-02-11 10:43:50,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,False,NaN,info@flysolomedia.com,NaN,2015-02-11 11:10:47,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Global,Innovation,False,Global Innovation,info@globalinnovation.us,NaN,2015-02-12 07:00:06,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Bill,Gandy,False,Bill N. Gandy,b.gandy@ldius.org,NaN,2015-04-24 11:15:10,NaN,NaN,2015-04-24 11:17:51,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Jessica,NaN,False,Jessica,jessica.low@moleac.com,NaN,2015-02-11 18:24:57,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,erik@skhonkaen.eu,NaN,False,erik@skhonkaen.eu,erik@skhonkaen.eu,NaN,2015-02-13 06:22:08,NaN,NaN,2015-02-16 07:47:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,False,NaN,friends@olark.com,NaN,2015-02-17 09:44:25,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Karen,Gaconnier,False,Karen Gaconnier,kgaconnier@hotmail.com,NaN,2015-02-17 10:12:59,NaN,NaN,2015-02-17 10:55:41,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Asha,Nair,False,Asha Nair,asha@aihsmed.org,NaN,2015-02-18 14:44:06,NaN,NaN,2015-02-18 14:49:02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,False,NaN,kimberly@ddltraffic.com,NaN,2015-02-19 12:55:28,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Mark,Dennert,False,Mark Dennert,mark@futurenowcambodia.com,NaN,2015-02-20 21:02:04,NaN,NaN,2015-02-21 16:28:12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,False,NaN,support+bncbdc63lwz2ehbbq7rv6tqkgqeyb6rhti@kar...,NaN,2015-02-25 08:01:25,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3710,Laura,Gilbert,False,Laura Gilbert,laura.gilbert@refficient.com,11121,2015-04-16 13:49:36,2015-04-16 13:47:37,2015-04-30 13:22:18,2015-04-16 13:49:36,...,0,3276,2823,1,106,2,telecommunications,0,2012-03-08 06:00:41 UTC,594
3711,Ashley,Varaljai,False,Ashley Varaljai,ashley.varaljai@refficient.com,11127,2015-04-17 08:22:42,2015-04-17 07:53:22,2015-04-30 14:45:26,2015-04-17 08:22:42,...,0,3276,2823,1,106,2,telecommunications,0,2012-03-08 06:00:41 UTC,594
3712,David,Crol,False,David Crol,contacto@erotonic469.com,11133,2015-04-17 17:26:07,2015-04-17 17:24:27,2015-04-30 16:23:41,2015-04-17 17:26:08,...,0,63,64,11,2,56,consumer-goods,1,1970-01-01 00:00:00 UTC,15
3713,Mary,Morana,False,Mary Jane Morana,maryjane.morana@fourlinq.com,11135,2015-04-17 21:01:28,2015-04-17 20:23:13,2015-04-30 04:09:27,2015-04-17 21:28:20,...,0,1489,6823,174,3674,955,manufacturing,3,2011-07-22 04:21:00 UTC,4047
3714,Maxime,Rouja,False,Maxime Rouja,maxime.rouja@silega.com.mx,11150,2015-04-20 10:57:04,2015-04-20 10:08:05,2015-04-30 16:09:41,2015-04-20 10:57:05,...,0,2419,4881,0,276,700,business-development,1,2013-04-21 22:46:00 UTC,3744
3715,Charlene,H,False,Charlene H,info@battleoats.com,6544,2015-04-22 03:01:41,2014-04-22 02:01:16,2015-04-30 07:30:46,2015-04-22 03:01:41,...,0,900,1,5,0,0,retail,0,2014-05-16 09:16:00 UTC,965
3716,Tyrone,Heuvel,False,Tyrone Heuvel,tyroneh@powermode.co.za,11168,2015-04-22 08:22:30,2015-04-22 08:09:31,2015-04-30 03:13:13,2015-04-22 08:22:31,...,2029,7764,10228,37,1328,5,electronics,0,2013-05-10 12:19:00 UTC,1923
3717,Dave,Hall,False,Dave Hall,dave@cervion.com,11173,2015-04-22 11:33:34,2015-04-22 09:38:16,2015-04-30 12:46:19,2015-04-22 11:33:34,...,0,6580,4338,30,405,1230,NaN,4,2012-06-05 18:54:49 UTC,11701
3718,Itziar,Alvarez,False,Itziar Alvarez,ialvarez@disec.cl,11182,2015-04-23 06:50:38,2015-04-23 06:39:40,2015-04-30 12:37:51,2015-04-23 06:50:39,...,0,672,834,0,408,75,marketing,3,2014-06-07 01:21:06 UTC,31
3719,Craig,Schoenberg,False,Craig Schoenberg,sci.craig@gmail.com,11187,2015-04-23 12:36:30,2015-04-23 12:26:50,2015-04-30 15:27:43,2015-04-23 12:36:30,...,0,0,22,6,1,89,NaN,3,1970-01-01 00:00:00 UTC,2
3720,Dan,Diachenko,False,Dan Diachenko,danavature@hotmail.com,11192,2015-04-24 07:35:42,2015-04-24 07:35:35,2015-04-30 13:51:52,2015-04-24 22:20:43,...,0,168,178,7,0,0,software-development,0,1970-01-01 00:00:00 UTC,0
3721,Aaron,Metelko,False,Aaron Metelko,ametelko@allshredservices.com,11194,2015-04-24 13:56:39,2015-04-24 13:56:25,2015-04-30 19:51:58,2015-04-30 12:11:19,...,0,5,3,5,3,0,customer-service,0,1970-01-01 00:00:00 UTC,0
3722,Manuel,SC,False,Manuel SC,manuel.sanchez@dadelosagricola.com,11199,2015-04-27 08:27:55,2015-04-27 08:25:49,2015-04-30 07:42:53,2015-04-29 05:48:58,...,0,0,3,0,0,515,agriculture,0,1970-01-01 00:00:00 UTC,65
3723,Siddharth,Parekh,False,Siddharth Parekh,siddharth@biztechconsultancy.com,NaN,2015-04-28 05:01:16,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3724,Jeff,Green,False,Jeff Green,jgreen@allshredservices.com,11210,2015-04-28 07:16:45,2015-04-28 08:30:29,2015-04-29 06:26:34,2015-04-30 12:11:21,...,0,5,3,5,3,0,customer-service,0,1970-01-01 00:00:00 UTC,0
3725,Anna,Diaz,False,Anna Diaz,anna@sunsationalswimschool.com,11213,2015-04-28 11:29:43,2015-04-28 11:27:48,2015-04-30 19:52:16,2015-04-28 11:29:43,...,102,2889,5849,165,4596,8134,education,5,2011-06-24 23:12:00 UTC,34909
3726,Shelly,Darnutzer,False,Shelly Darnutzer,shelly@techlivelihood.com,11214,2015-04-28 16:19:54,2015-04-28 16:18:41,2015-04-30 17:33:04,2015-04-29 08:55:15,...,0,98,131,0,2,541,consulting,4,1970-01-01 00:00:00 UTC,3
3727,Marcos,Derpich,False,Marcos Derpich,marcos.derpich@salicorp.cl,11215,2015-04-28 22:09:35,2015-04-28 22:00:13,2015-04-28 22:05:19,NaN,...,0,0,0,0,0,0,consulting,0,1970-01-01 00:00:00 UTC,0
3728,Eliran,Sheraz,False,Eliran Sheraz,eliran@bis-solutions.com,11219,2015-04-29 03:21:31,2015-04-29 03:20:15,2015-04-30 19:52:38,2015-04-29 21:32:36,...,0,0,0,0,0,0,telecommunications,0,1970-01-01 00:00:00 UTC,0
3729,Damien,Baden,False,Damien Baden,dbaden@advancedepm.com,11201,2015-04-29 05:11:26,2015-04-27 13:30:24,2015-04-30 10:27:17,2015-04-29 05:11:26,...,2,5919,8418,294,2,17,technology,5,2012-07-17 13:57:00 UTC,2141
3730,Daniel,Roy,False,Daniel Roy,droy@valleyequipment.ca,11220,2015-04-29 05:30:56,2015-04-29 05:30:40,2015-04-30 13:59:52,2015-04-30 10:27:43,...,0,263,382,9,0,0,NaN,0,1970-01-01 00:00:00 UTC,0
3731,Shawn,Fisher,False,Shawn Fisher,shawnfisherproductions@gmail.com,11221,2015-04-29 07:38:52,2015-04-29 07:38:36,2015-04-29 07:42:36,2015-04-29 22:20:50,...,0,0,0,0,0,0,entertainment,1,1970-01-01 00:00:00 UTC,0
3732,Luca,Mazzotti,False,Luca Mazzotti,luca.mazzotti@gmail.com,657,2015-04-29 11:42:46,2013-04-07 11:56:31,2015-04-30 06:50:58,NaN,...,4,89,166,16,14,1641,NaN,4,2013-03-12 08:43:08 UTC,16
3733,Leila,Deguzman,False,Leila Deguzman,leila.deguzman2014@gmail.com,11222,2015-04-29 12:46:21,2015-04-29 12:44:51,2015-04-30 06:55:42,2015-04-30 06:55:36,...,0,0,4,0,0,0,marketing,2,1970-01-01 00:00:00 UTC,6
3734,Hugh,Leslie,False,Hugh Leslie,hugh.leslie@excel-medical.com,9148,2015-04-29 18:08:23,2015-04-29 18:08:23,2015-04-29 19:16:23,2015-04-29 18:08:23,...,0,4235,15491,124,464,2,no-info,2,2013-05-07 14:10:00 UTC,6867
3735,Florian,Lebouf,False,Florian Lebouf,florian@myfantrac.com,11227,2015-04-30 03:20:52,2015-04-30 03:20:52,2015-04-30 08:44:57,2015-04-30 03:20:52,...,0,138,203,52,0,0,entertainment,0,2014-02-18 14:55:00 UTC,0
3736,Melanie,Ngambi-Siony,False,Melanie Ngambi-Siony,melanie@myfantrac.com,11226,2015-04-30 03:23:04,2015-04-30 03:23:04,2015-04-30 03:28:33,2015-04-30 03:23:04,...,0,138,203,52,0,0,entertainment,0,2014-02-18 14:55:00 UTC,0
3737,Bruno,Venesia,False,Bruno Venesia,bruno.venesia@fellfab.com,11228,2015-04-30 06:53:29,2015-04-30 06:53:29,2015-04-30 14:32:58,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3738,Asdgttt,Ass,False,Asdgttt Ass,asdasa@asdas.c,11229,2015-04-30 08:34:19,2015-04-30 08:34:19,2015-04-30 08:34:32,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3739,Candace,Bunnage,False,Candace Bunnage,candace@cloudmedbilling.com,11230,2015-04-30 16:33:48,2015-04-30 16:33:47,2015-04-30 16:51:13,2015-04-30 16:33:48,...,42,17,376,40,0,779,health-care,0,1970-01-01 00:00:00 UTC,17

In [4]:
karma[:20]

,First name,Last name,Type,Name,Email,User ID,First Seen (MDT),Signed up (MDT),Last seen (MDT),Last contacted (MDT),...,cases,companies,contacts,custom_fields,deals,events,industry,integrations.1,subscribed_at (MDT),tasks
0,Andrew,Eakins,False,Andrew and Wendy Eakins,vic271@shaw.ca,NaN,2015-04-23 08:17:50,NaN,NaN,2015-04-23 11:04:21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Kenny,Beh,False,Kenny Beh,kennybeh@pedoman.com.my,NaN,2015-03-28 17:17:15,NaN,NaN,2015-04-29 12:42:01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Alinser,Hoyos,False,Alinser Hoyos,ahoyos@signifi.com,NaN,2015-02-11 10:42:04,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Manuel,Asian,False,Manuel Asian,asiancustom@gmail.com,NaN,2015-02-10 02:29:23,NaN,NaN,2015-02-16 07:54:53,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Mike,Orley,False,Mike Orley,morley@prosatwork.com,NaN,2015-04-22 08:06:44,NaN,NaN,2015-04-22 09:10:24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,False,NaN,ck@alliedpowers.co.uk,NaN,2015-04-20 07:02:28,NaN,NaN,2015-04-23 07:14:50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Glen,Furlong,False,Glen Furlong,glenfurlong3@gmail.com,NaN,2015-02-13 15:10:26,NaN,NaN,2015-02-13 15:16:22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,False,NaN,eyal@karmacrm.com,NaN,2015-02-16 09:21:12,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,False,NaN,support+bncbdw7hq7eseirb5povktqkgqebkfoh4i@kar...,NaN,2015-02-25 08:01:25,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,False,NaN,team@karmacrm.com,NaN,2015-02-25 10:00:58,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Tina,McCord,False,Tina Harrison & Kathleen McCord,admin@fromoverhere.co.uk,NaN,2015-03-02 12:29:17,NaN,NaN,2015-03-02 12:48:19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Janice,Salim,False,Janice Salim,janice@thinkemployment.com.au,NaN,2015-03-31 20:34:07,NaN,NaN,2015-03-31 20:44:07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,False,NaN,cindy@ourcordbank.com,NaN,2015-02-11 10:40:53,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,brocantehome,NaN,False,brocantehome,clickdesk@contactuswidget.appspotmail.com,NaN,2015-02-11 10:40:53,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,info@schooldesk.net,NaN,False,info@schooldesk.net,donna@schooldesk.net,NaN,2015-02-11 10:55:49,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,False,NaN,dorms@bashan.org.il,NaN,2015-02-11 10:41:03,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Eric,Doub,False,Eric L Doub,ericdoub.efiddling@futurefitsolutions.com,NaN,2015-02-11 18:42:36,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,ron@easyopticare.nl,NaN,False,ron@easyopticare.nl,ron@easyopticare.nl,NaN,2015-04-20 07:15:35,NaN,NaN,2015-04-20 09:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,False,NaN,ggonzalez@gape.com.mx,NaN,2015-02-11 10:43:50,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,False,NaN,info@flysolomedia.com,NaN,2015-02-11 11:10:47,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
industry = karma['Industry']
print industry

SyntaxError: Missing parentheses in call to 'print' (<ipython-input-5-c66ba79fa64a>, line 2)

In [6]:
industry = karma['Industry']
    print industry

IndentationError: Missing parentheses in call to 'print' (<ipython-input-6-53b39acb0749>, line 2)

In [7]:
industry = karma['Industry']
industry

KeyError: 'Industry'

In [8]:
industry = karma['industry']
industry

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
10    NaN
11    NaN
12    NaN
13    NaN
14    NaN
...
3725             education
3726            consulting
3727            consulting
3728    telecommunications
3729            technology
3730                   NaN
3731         entertainment
3732                   NaN
3733             marketing
3734               no-info
3735         entertainment
3736         entertainment
3737                   NaN
3738                   NaN
3739           health-care
Name: industry, Length: 3740, dtype: object

In [9]:
marketing = industry == "marketing"

In [10]:
marketing

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
...
3725    False
3726    False
3727    False
3728    False
3729    False
3730    False
3731    False
3732    False
3733     True
3734    False
3735    False
3736    False
3737    False
3738    False
3739    False
Name: industry, Length: 3740, dtype: bool

In [11]:
len(marketing)

3740

In [12]:
karma

,First name,Last name,Type,Name,Email,User ID,First Seen (MDT),Signed up (MDT),Last seen (MDT),Last contacted (MDT),...,cases,companies,contacts,custom_fields,deals,events,industry,integrations.1,subscribed_at (MDT),tasks
0,Andrew,Eakins,False,Andrew and Wendy Eakins,vic271@shaw.ca,NaN,2015-04-23 08:17:50,NaN,NaN,2015-04-23 11:04:21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Kenny,Beh,False,Kenny Beh,kennybeh@pedoman.com.my,NaN,2015-03-28 17:17:15,NaN,NaN,2015-04-29 12:42:01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Alinser,Hoyos,False,Alinser Hoyos,ahoyos@signifi.com,NaN,2015-02-11 10:42:04,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Manuel,Asian,False,Manuel Asian,asiancustom@gmail.com,NaN,2015-02-10 02:29:23,NaN,NaN,2015-02-16 07:54:53,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Mike,Orley,False,Mike Orley,morley@prosatwork.com,NaN,2015-04-22 08:06:44,NaN,NaN,2015-04-22 09:10:24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,False,NaN,ck@alliedpowers.co.uk,NaN,2015-04-20 07:02:28,NaN,NaN,2015-04-23 07:14:50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Glen,Furlong,False,Glen Furlong,glenfurlong3@gmail.com,NaN,2015-02-13 15:10:26,NaN,NaN,2015-02-13 15:16:22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,False,NaN,eyal@karmacrm.com,NaN,2015-02-16 09:21:12,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,False,NaN,support+bncbdw7hq7eseirb5povktqkgqebkfoh4i@kar...,NaN,2015-02-25 08:01:25,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,False,NaN,team@karmacrm.com,NaN,2015-02-25 10:00:58,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Tina,McCord,False,Tina Harrison & Kathleen McCord,admin@fromoverhere.co.uk,NaN,2015-03-02 12:29:17,NaN,NaN,2015-03-02 12:48:19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Janice,Salim,False,Janice Salim,janice@thinkemployment.com.au,NaN,2015-03-31 20:34:07,NaN,NaN,2015-03-31 20:44:07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,False,NaN,cindy@ourcordbank.com,NaN,2015-02-11 10:40:53,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,brocantehome,NaN,False,brocantehome,clickdesk@contactuswidget.appspotmail.com,NaN,2015-02-11 10:40:53,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,info@schooldesk.net,NaN,False,info@schooldesk.net,donna@schooldesk.net,NaN,2015-02-11 10:55:49,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,False,NaN,dorms@bashan.org.il,NaN,2015-02-11 10:41:03,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Eric,Doub,False,Eric L Doub,ericdoub.efiddling@futurefitsolutions.com,NaN,2015-02-11 18:42:36,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,ron@easyopticare.nl,NaN,False,ron@easyopticare.nl,ron@easyopticare.nl,NaN,2015-04-20 07:15:35,NaN,NaN,2015-04-20 09:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,False,NaN,ggonzalez@gape.com.mx,NaN,2015-02-11 10:43:50,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,False,NaN,info@flysolomedia.com,NaN,2015-02-11 11:10:47,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Global,Innovation,False,Global Innovation,info@globalinnovation.us,NaN,2015-02-12 07:00:06,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Bill,Gandy,False,Bill N. Gandy,b.gandy@ldius.org,NaN,2015-04-24 11:15:10,NaN,NaN,2015-04-24 11:17:51,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Jessica,NaN,False,Jessica,jessica.low@moleac.com,NaN,2015-02-11 18:24:57,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,erik@skhonkaen.eu,NaN,False,erik@skhonkaen.eu,erik@skhonkaen.eu,NaN,2015-02-13 06:22:08,NaN,NaN,2015-02-16 07:47:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,False,NaN,friends@olark.com,NaN,2015-02-17 09:44:25,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Karen,Gaconnier,False,Karen Gaconnier,kgaconnier@hotmail.com,NaN,2015-02-17 10:12:59,NaN,NaN,2015-02-17 10:55:41,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Asha,Nair,False,Asha Nair,asha@aihsmed.org,NaN,2015-02-18 14:44:06,NaN,NaN,2015-02-18 14:49:02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,False,NaN,kimberly@ddltraffic.com,NaN,2015-02-19 12:55:28,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Mark,Dennert,False,Mark Dennert,mark@futurenowcambodia.com,NaN,2015-02-20 21:02:04,NaN,NaN,2015-02-21 16:28:12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,False,NaN,support+bncbdc63lwz2ehbbq7rv6tqkgqeyb6rhti@kar...,NaN,2015-02-25 08:01:25,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3710,Laura,Gilbert,False,Laura Gilbert,laura.gilbert@refficient.com,11121,2015-04-16 13:49:36,2015-04-16 13:47:37,2015-04-30 13:22:18,2015-04-16 13:49:36,...,0,3276,2823,1,106,2,telecommunications,0,2012-03-08 06:00:41 UTC,594
3711,Ashley,Varaljai,False,Ashley Varaljai,ashley.varaljai@refficient.com,11127,2015-04-17 08:22:42,2015-04-17 07:53:22,2015-04-30 14:45:26,2015-04-17 08:22:42,...,0,3276,2823,1,106,2,telecommunications,0,2012-03-08 06:00:41 UTC,594
3712,David,Crol,False,David Crol,contacto@erotonic469.com,11133,2015-04-17 17:26:07,2015-04-17 17:24:27,2015-04-30 16:23:41,2015-04-17 17:26:08,...,0,63,64,11,2,56,consumer-goods,1,1970-01-01 00:00:00 UTC,15
3713,Mary,Morana,False,Mary Jane Morana,maryjane.morana@fourlinq.com,11135,2015-04-17 21:01:28,2015-04-17 20:23:13,2015-04-30 04:09:27,2015-04-17 21:28:20,...,0,1489,6823,174,3674,955,manufacturing,3,2011-07-22 04:21:00 UTC,4047
3714,Maxime,Rouja,False,Maxime Rouja,maxime.rouja@silega.com.mx,11150,2015-04-20 10:57:04,2015-04-20 10:08:05,2015-04-30 16:09:41,2015-04-20 10:57:05,...,0,2419,4881,0,276,700,business-development,1,2013-04-21 22:46:00 UTC,3744
3715,Charlene,H,False,Charlene H,info@battleoats.com,6544,2015-04-22 03:01:41,2014-04-22 02:01:16,2015-04-30 07:30:46,2015-04-22 03:01:41,...,0,900,1,5,0,0,retail,0,2014-05-16 09:16:00 UTC,965
3716,Tyrone,Heuvel,False,Tyrone Heuvel,tyroneh@powermode.co.za,11168,2015-04-22 08:22:30,2015-04-22 08:09:31,2015-04-30 03:13:13,2015-04-22 08:22:31,...,2029,7764,10228,37,1328,5,electronics,0,2013-05-10 12:19:00 UTC,1923
3717,Dave,Hall,False,Dave Hall,dave@cervion.com,11173,2015-04-22 11:33:34,2015-04-22 09:38:16,2015-04-30 12:46:19,2015-04-22 11:33:34,...,0,6580,4338,30,405,1230,NaN,4,2012-06-05 18:54:49 UTC,11701
3718,Itziar,Alvarez,False,Itziar Alvarez,ialvarez@disec.cl,11182,2015-04-23 06:50:38,2015-04-23 06:39:40,2015-04-30 12:37:51,2015-04-23 06:50:39,...,0,672,834,0,408,75,marketing,3,2014-06-07 01:21:06 UTC,31
3719,Craig,Schoenberg,False,Craig Schoenberg,sci.craig@gmail.com,11187,2015-04-23 12:36:30,2015-04-23 12:26:50,2015-04-30 15:27:43,2015-04-23 12:36:30,...,0,0,22,6,1,89,NaN,3,1970-01-01 00:00:00 UTC,2
3720,Dan,Diachenko,False,Dan Diachenko,danavature@hotmail.com,11192,2015-04-24 07:35:42,2015-04-24 07:35:35,2015-04-30 13:51:52,2015-04-24 22:20:43,...,0,168,178,7,0,0,software-development,0,1970-01-01 00:00:00 UTC,0
3721,Aaron,Metelko,False,Aaron Metelko,ametelko@allshredservices.com,11194,2015-04-24 13:56:39,2015-04-24 13:56:25,2015-04-30 19:51:58,2015-04-30 12:11:19,...,0,5,3,5,3,0,customer-service,0,1970-01-01 00:00:00 UTC,0
3722,Manuel,SC,False,Manuel SC,manuel.sanchez@dadelosagricola.com,11199,2015-04-27 08:27:55,2015-04-27 08:25:49,2015-04-30 07:42:53,2015-04-29 05:48:58,...,0,0,3,0,0,515,agriculture,0,1970-01-01 00:00:00 UTC,65
3723,Siddharth,Parekh,False,Siddharth Parekh,siddharth@biztechconsultancy.com,NaN,2015-04-28 05:01:16,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3724,Jeff,Green,False,Jeff Green,jgreen@allshredservices.com,11210,2015-04-28 07:16:45,2015-04-28 08:30:29,2015-04-29 06:26:34,2015-04-30 12:11:21,...,0,5,3,5,3,0,customer-service,0,1970-01-01 00:00:00 UTC,0
3725,Anna,Diaz,False,Anna Diaz,anna@sunsationalswimschool.com,11213,2015-04-28 11:29:43,2015-04-28 11:27:48,2015-04-30 19:52:16,2015-04-28 11:29:43,...,102,2889,5849,165,4596,8134,education,5,2011-06-24 23:12:00 UTC,34909
3726,Shelly,Darnutzer,False,Shelly Darnutzer,shelly@techlivelihood.com,11214,2015-04-28 16:19:54,2015-04-28 16:18:41,2015-04-30 17:33:04,2015-04-29 08:55:15,...,0,98,131,0,2,541,consulting,4,1970-01-01 00:00:00 UTC,3
3727,Marcos,Derpich,False,Marcos Derpich,marcos.derpich@salicorp.cl,11215,2015-04-28 22:09:35,2015-04-28 22:00:13,2015-04-28 22:05:19,NaN,...,0,0,0,0,0,0,consulting,0,1970-01-01 00:00:00 UTC,0
3728,Eliran,Sheraz,False,Eliran Sheraz,eliran@bis-solutions.com,11219,2015-04-29 03:21:31,2015-04-29 03:20:15,2015-04-30 19:52:38,2015-04-29 21:32:36,...,0,0,0,0,0,0,telecommunications,0,1970-01-01 00:00:00 UTC,0
3729,Damien,Baden,False,Damien Baden,dbaden@advancedepm.com,11201,2015-04-29 05:11:26,2015-04-27 13:30:24,2015-04-30 10:27:17,2015-04-29 05:11:26,...,2,5919,8418,294,2,17,technology,5,2012-07-17 13:57:00 UTC,2141
3730,Daniel,Roy,False,Daniel Roy,droy@valleyequipment.ca,11220,2015-04-29 05:30:56,2015-04-29 05:30:40,2015-04-30 13:59:52,2015-04-30 10:27:43,...,0,263,382,9,0,0,NaN,0,1970-01-01 00:00:00 UTC,0
3731,Shawn,Fisher,False,Shawn Fisher,shawnfisherproductions@gmail.com,11221,2015-04-29 07:38:52,2015-04-29 07:38:36,2015-04-29 07:42:36,2015-04-29 22:20:50,...,0,0,0,0,0,0,entertainment,1,1970-01-01 00:00:00 UTC,0
3732,Luca,Mazzotti,False,Luca Mazzotti,luca.mazzotti@gmail.com,657,2015-04-29 11:42:46,2013-04-07 11:56:31,2015-04-30 06:50:58,NaN,...,4,89,166,16,14,1641,NaN,4,2013-03-12 08:43:08 UTC,16
3733,Leila,Deguzman,False,Leila Deguzman,leila.deguzman2014@gmail.com,11222,2015-04-29 12:46:21,2015-04-29 12:44:51,2015-04-30 06:55:42,2015-04-30 06:55:36,...,0,0,4,0,0,0,marketing,2,1970-01-01 00:00:00 UTC,6
3734,Hugh,Leslie,False,Hugh Leslie,hugh.leslie@excel-medical.com,9148,2015-04-29 18:08:23,2015-04-29 18:08:23,2015-04-29 19:16:23,2015-04-29 18:08:23,...,0,4235,15491,124,464,2,no-info,2,2013-05-07 14:10:00 UTC,6867
3735,Florian,Lebouf,False,Florian Lebouf,florian@myfantrac.com,11227,2015-04-30 03:20:52,2015-04-30 03:20:52,2015-04-30 08:44:57,2015-04-30 03:20:52,...,0,138,203,52,0,0,entertainment,0,2014-02-18 14:55:00 UTC,0
3736,Melanie,Ngambi-Siony,False,Melanie Ngambi-Siony,melanie@myfantrac.com,11226,2015-04-30 03:23:04,2015-04-30 03:23:04,2015-04-30 03:28:33,2015-04-30 03:23:04,...,0,138,203,52,0,0,entertainment,0,2014-02-18 14:55:00 UTC,0
3737,Bruno,Venesia,False,Bruno Venesia,bruno.venesia@fellfab.com,11228,2015-04-30 06:53:29,2015-04-30 06:53:29,2015-04-30 14:32:58,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3738,Asdgttt,Ass,False,Asdgttt Ass,asdasa@asdas.c,11229,2015-04-30 08:34:19,2015-04-30 08:34:19,2015-04-30 08:34:32,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3739,Candace,Bunnage,False,Candace Bunnage,candace@cloudmedbilling.com,11230,2015-04-30 16:33:48,2015-04-30 16:33:47,2015-04-30 16:51:13,2015-04-30 16:33:48,...,42,17,376,40,0,779,health-care,0,1970-01-01 00:00:00 UTC,17

In [13]:
marketing[['Name', 'Users']][:20]

Name     NaN
Users    NaN
Name: industry, dtype: object

In [14]:
marketing

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
...
3725    False
3726    False
3727    False
3728    False
3729    False
3730    False
3731    False
3732    False
3733     True
3734    False
3735    False
3736    False
3737    False
3738    False
3739    False
Name: industry, Length: 3740, dtype: bool

In [15]:
industry[marketing][['Name', 'Users']][:20]

Name     NaN
Users    NaN
Name: industry, dtype: object

In [16]:
marketing = Karma['industry'] == "marketing"

NameError: name 'Karma' is not defined

In [17]:
marketing = karma['industry'] == "marketing"

In [18]:
marketing

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
...
3725    False
3726    False
3727    False
3728    False
3729    False
3730    False
3731    False
3732    False
3733     True
3734    False
3735    False
3736    False
3737    False
3738    False
3739    False
Name: industry, Length: 3740, dtype: bool

In [19]:
karma[marketing][['Name', 'Users']][:20]

                 Name  Users
131  Traci Tattersall      2
132  Aaron Tattersall      2
139        Ali Wilson     11
150       Tacye Vogel     27
151      Anne Ramallo      6
184       Yves Frerot     16
185    Sebastian Gika     16
186    Ernest Gergely     16
201    Dominik Wolski     16
213      Bettina Pape     29
214       Maha  Hilal      5
230      Sandra Kunze     29
233   Russell Rodrigo     10
234    Sanjay Haridas     10
239        Ben Lozano      2
241       Gali Soudak      1
300            Joy Xu      6
368       Lisa Gunter     17
381  Ignacia Elizalde      6
388      Jessica Hall     17